<html>
    <head>


            <script
            src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
            <script type="text/javascript" src="assets/script.js"></script>
    </head>

    <body>
        <h1>Ajax Demo</h1>
        <button id="getProduct">Get Prodducts</button>

        <form id="createProductForm">
            <input type="text" id="user-input">
            <button id="postButton">Create/POST</button>
        </form>

        <p>
            
        </p>
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Actions</th>
                </tr>
            </thead>

            <tbody>


            </tbody>

        </table>



    </body>




</html>